
.member:has(.aap-demo) .main-member-profile-container .profile-info {
  border-right: 3px solid #ffcc00 !important;
}

.member:has(.aap-demo)
  .admin-upcoming-anniv-container.small-container
  .icon-img
  > img {
  overflow: hidden;
  height: 0;
}

.member:has(.aap-demo)
  .admin-upcoming-anniv-container.small-container
  .icon-img {
  content: "";
  display: inline-flex !important;
  opacity: 1;
  background: url(https://halosalesandrecognition.werecognize.com/asset/28459)
    no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: relative;
  margin-top: 4px;
}

/* .profile-link .icon {
  filter: invert(74%) sepia(98%) saturate(1100%) hue-rotate(360deg)
    brightness(104%) contrast(101%) !important;
} */
.member:has(.aap-demo) .admin-upcoming-anniv-container.small-container {
  min-height: unset !important;
  height: 100%;
}
.member:has(.aap-demo) .approvals-card .award-data svg path {
  fill: #000 !important;
}
.member:has(.aap-demo) * {
  letter-spacing: normal !important;
}

.member:has(.aap-demo) .progress-bar-secondary {
  background: #ffcc00 !important;
  color: #000 !important;
}

.member:has(.aap-demo) .btn-primary.disabled {
  border-radius: 100px;
  background: #ffcc00 !important;
  color: #000 !important;
  opacity: 0.5 !important;
}

.member:has(.aap-demo) .btn-primary,
.member:has(.aap-demo) .btn-secondary,
.member:has(.aap-demo) .btn-default {
  border-radius: 100px !important;
}

/* dark mode top header bar */
.member:has(.aap-demo) .background-wrapper {
  background-color: #000;
}

.member:has(.aap-demo) .customSelect .styledSelect {
  color: #fff !important;
}

.member:has(.aap-demo) svg path {
  fill: #ffcc00 !important;
}

.member:has(.aap-demo) .customSelect.lang-nav-item .styledSelect:before {
  color: #ffcc00;
}

.member:has(.aap-demo) button#ddlLanguages {
  color: #ffcc00 !important;
}

.member:has(.aap-demo) #header-wrap .hamburger-menu svg path {
  fill: #fff !important;
}
/* end dark mode top header bar */
.member:has(.aap-demo) a.navbar-brand img,
.member:has(.aap-demo) a.img-responsive img {
  visibility: hidden;
}

.member:has(.aap-demo) a.navbar-brand::before,
.member:has(.aap-demo) a.img-responsive::before {
  content: "";
  background: url(https://s1.q4cdn.com/172833328/files/design/logo/AAP_Primary_HZ_RGB_Rev-Condensed.jpg)
    no-repeat;
  width: 250px;
  height: 35px;
  background-size: contain;
  background-position: left center;
}

/* CTA buttons */
.member:has(.aap-demo) a.hero-cta {
  background-image: url(https://d3arciv63ist18.cloudfront.net/public/b2c165/525/28025-ef2990ab-3dcb-dbd5-3c2c-69308bab.png) !important;
  background-size: 25px 20px !important;
}

/* Feed widget image wrappers */
.member:has(.aap-demo) .feed-widget .create-a-post-container .img-wrapper,
.member:has(.aap-demo)
  .feed-widget-fs-modal
  .create-a-post-container
  .img-wrapper,
.member:has(.aap-demo) .feed-widget .feed-widget-item .img-wrapper,
.member:has(.aap-demo) .feed-widget-fs-modal .feed-widget-item .img-wrapper {
  background: #ffcc00;
}

/* Storefront */
.member:has(.aap-demo)
  #main
  .storefront-callout-bg
  .post-container
  .post-content {
  background: #f6f6f6;
}
.member:has(.aap-demo) #main .post-container .post-content .title {
  padding: 0 0 16px !important;
}
.member:has(.aap-demo) #main .storefront-callout-bg {
  background-color: #000;
}

.member:has(.aap-demo) #main .storefront-callout-bg .callout-title {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  font-weight: 800;
}

.member:has(.aap-demo) #main .storefront-callout-bg .callout-text {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}
.member:has(.aap-demo) #main .storefront-callout-bg {
  border-top: 7px solid #ffcc00;
}
/* Budget widget */
.member:has(.aap-demo) #main .main-gifting-admin-v1-budget-container h2 {
  font-size: 18px;
  line-height: 32px;
  font-family: "proxima-nova", "Open Sans", sans-serif;
  text-align: left;
}

.member:has(.aap-demo) #main .main-gifting-admin-v1-budget-container p {
  padding: 0 24px;
}

.member:has(.aap-demo) div[data-widget-type="budget"] .panel-body {
  padding: 0 !important;
}

.member:has(.aap-demo) #main [data-widget-type="budget"] {
  padding-top: 0;
  margin: 0 !important;
}

.member:has(.aap-demo) #main [data-widget-type="budget"] div:first-child {
  margin-bottom: 0 !important;
}

.member:has(.aap-demo) #main [data-widget-type="budget"] .progress {
  border: 0.5px solid #333 !important;
}

.member:has(.aap-demo)
  #main
  [data-widget-type="budget"]
  p.h1.text-secondary.text-bold.mt-sm {
  background: none;
  color: #000 !important;
  font-weight: 800 !important;
}

.member:has(.aap-demo)
  #main
  [data-widget-type="budget"]
  p.h1.text-secondary.text-bold.mt-sm:after {
  color: #000;
  font-weight: 800 !important;
}

/* Typography */
.member:has(.aap-demo) h1,
.member:has(.aap-demo) h2,
.member:has(.aap-demo) h3,
.member:has(.aap-demo) h4,
.member:has(.aap-demo) h5,
.member:has(.aap-demo) h6,
.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1,
.member:has(.aap-demo) .hero-2-balance span,
.member:has(.aap-demo) .post-container .post-content .title,
.member:has(.aap-demo) [data-widget-type*="serialcard"] label,
.member:has(.aap-demo)
  .approvals-header
  span.text-md-heading.text-gray-500.lh-32 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700 !important;
}

.member:has(.aap-demo) h1,
.member:has(.aap-demo) h2,
.member:has(.aap-demo) h3,
.member:has(.aap-demo) h4,
.member:has(.aap-demo) h5,
.member:has(.aap-demo) h6 {
  font-weight: 400;
}

.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1 {
  font-weight: 600;
  color: #fff !important;
}
.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1,
.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1 + p {
  text-align: left !important;
}
.member:has(.aap-demo) .post-container .post-content .title,
.member:has(.aap-demo) #main .main-gifting-admin-v1-budget-container h2 {
  font-weight: 700;
  color: #000;
}

.member:has(.aap-demo) p,
.member:has(.aap-demo)
  .hero-recognition-container.layout-2
  .hero-copy
  a.hero-cta,
.member:has(.aap-demo) .post-container .post-content .description,
.member:has(.aap-demo) .user-information span,
.member:has(.aap-demo) .feed-widget .comments-container .content-editable-div,
.member:has(.aap-demo)
  .feed-widget-fs-modal
  .comments-container
  .content-editable-div,
.member:has(.aap-demo)
  .feed-widget
  .create-a-post-container
  .content-editable-div,
.member:has(.aap-demo)
  .feed-widget-fs-modal
  .create-a-post-container
  .content-editable-div,
.member:has(.aap-demo) [data-widget-type*="serialcard"] input,
.member:has(.aap-demo) button.btn.btn-secondary,
.member:has(.aap-demo) button.btn.btn-default,
.member:has(.aap-demo) button.btn.btn-primary,
.member:has(.aap-demo) .my-approvals-container .footer-select-all-text,
.member:has(.aap-demo) .my-approvals-container .btn-default,
.member:has(.aap-demo) .approvals-header .text-light.text-sm,
.member:has(.aap-demo) .approvals-card *,
.member:has(.aap-demo) .filter-posts-container *,
.member:has(.aap-demo) .store-callout-bg .post-content > h2.description {
  font-family: "Open Sans", sans-serif;
}

.member:has(.aap-demo) p {
  font-weight: 500;
}

.member:has(.aap-demo)
  .hero-recognition-container.layout-2
  .hero-copy
  a.hero-cta,
.member:has(.aap-demo) .user-information span,
.member:has(.aap-demo) [data-widget-type*="serialcard"] input {
  font-weight: 600;
}

.member:has(.aap-demo) .post-container .post-content .description {
  font-weight: 500 !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  line-height: 1.5em !important;
}

.member:has(.aap-demo) .post-container .post-content .description {
  color: #231f20;
}
.member:has(.aap-demo) [data-widget-type*="serialcard"] label {
  padding-bottom: 16px;
}
.member:has(.aap-demo)
  #main
  [data-widget-type="budget"]
  p.h1.text-secondary.text-bold.mt-sm,
.member:has(.aap-demo) #main [data-widget-type="budget"] div:first-child,
.member:has(.aap-demo) [data-widget-type*="serialcard"],
.member:has(.aap-demo) .card-well,
.member:has(.aap-demo),
.member:has(.aap-demo) #main .main-gifting-admin-v1-budget-container,
.member:has(.aap-demo) .approvals-header,
.member:has(.aap-demo) .approvals-content.flex-col.flex-nowrap,
.member:has(.aap-demo) .approvals-footer,
.member:has(.aap-demo) .admin-upcoming-anniv-container,
.member:has(.aap-demo) .my-approvals-container .approvals-card,
.member:has(.aap-demo) .my-approvals-container.pos-relative.small-container,
.member:has(.aap-demo) .dashboards-widget:has(#ouhealth-gallery) {
  border: 0 !important;
  background: linear-gradient(125deg, transparent 20px, #fff 20px) !important;
  box-shadow: none !important;
}
.member:has(.aap-demo) #main [data-widget-type="budget"] {
  background: #fff !important;
}
.member:has(.aap-demo) .my-approvals-container .approvals-card {
  border: 0 !important;
}
.member:has(.aap-demo) .my-approvals-container,
.member:has(.aap-demo) .post-container {
  box-shadow: none !important;
}
.member:has(.aap-demo) .post-container {
  -webkit-clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 0 100%, 0 11%);
  clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 0 100%, 0 11%);
}
.member:has(.aap-demo) .feed-widget-body.card-well {
  background: #fff !important;
}
.feed-widget-item .feed-widget-body.bday-bg {
  background: #fff !important;
}
.member:has(.aap-demo) .user-avatar-thumb-container span {
  color: #000 !important;
}
.member:has(.aap-demo) [data-widget-type*="serialcard"] label {
  font-weight: 800;
  color: #000;
}
.member:has(.aap-demo)
  .approvals-header
  span.text-md-heading.text-gray-500.lh-32 {
  font-weight: 400;
}

.member:has(.aap-demo) .approvals-header .text-light.text-sm {
  padding-top: 8px;
}

/* Feed widget height override */
@media screen and (min-width: 1200px) {
  #member-dashboard > div:nth-child(2) > div:first-child,
  .member:has(.aap-demo) [data-widget-type*="feed"] {
    max-height: 1385px !important;
  }
}

.member:has(.aap-demo) .hero-recognition-container.layout-2 {
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.6) 100%),
    linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.6) 100%),
    url(https://halosalesandrecognition.venta.werecognize.com/asset/28455)
      no-repeat !important;
  background-size: cover !important;
}

.member:has(.aap-demo) .main-member-profile-container {
  background: #4a4a4a !important;
  margin-bottom: 24px;
}

.member:has(.aap-demo) .btn-primary.disabled,
.member:has(.aap-demo) .btn-primary[disabled],
.member:has(.aap-demo) fieldset[disabled] .btn-primary,
.member:has(.aap-demo) .btn-primary.disabled:hover,
.member:has(.aap-demo) .btn-primary[disabled]:hover,
.member:has(.aap-demo) fieldset[disabled] .btn-primary:hover,
.member:has(.aap-demo) .btn-primary.disabled:focus,
.member:has(.aap-demo) .btn-primary[disabled]:focus,
.member:has(.aap-demo) fieldset[disabled] .btn-primary:focus,
.member:has(.aap-demo) .btn-primary.disabled.focus,
.member:has(.aap-demo) .btn-primary[disabled].focus,
.member:has(.aap-demo) fieldset[disabled] .btn-primary.focus,
.member:has(.aap-demo) .btn-primary.disabled:active,
.member:has(.aap-demo) .btn-primary[disabled]:active,
.member:has(.aap-demo) fieldset[disabled] .btn-primary:active,
.member:has(.aap-demo) .btn-primary.disabled.active,
.member:has(.aap-demo) .btn-primary[disabled].active,
.member:has(.aap-demo) fieldset[disabled] .btn-primary.active {
  background-color: #af272f;
}

@media only screen and (max-width: 600px) {
  .member:has(.aap-demo)
    .hero-recognition-container.layout-2
    .container::before {
    background: url("https://d3arciv63ist18.cloudfront.net/public/b2c165/525/28455-ecf9b9ba-bf46-21d1-660b-9cc6718a.jpg")
      no-repeat center center / cover;
    background-size: cover !important;
    height: 40vh;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
  }
}

.member:has(.aap-demo) #main .post-container .thumbnails .icon-bottom {
  color: #000 !important;
}
.member:has(.aap-demo) button.btn.btn-secondary,
.member:has(.aap-demo)
  .hero-recognition-container.layout-2
  .hero-copy
  a.hero-cta {
  background-color: #ffcc00 !important;
  color: #000 !important;
  letter-spacing: normal !important;
  border-radius: 100px !important;
}

.member:has(.aap-demo) .approvals-card svg path {
  fill: #ffcc00;
}

.member:has(.aap-demo) #main {
  background-color: ##f7f7f7 !important;
}

.admin-my-team-logins-container {
  min-height: 280px !important;
  margin-bottom: 20px;
}

.social-activity-metrics-container {
  min-height: 280px !important;
}

.social-activity-metrics-container {
  min-height: 280px !important;
}

h2 a,
.empty-approval-container a {
  color: #000 !important;
}

#member-dashboard > div.row.flex-row:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#member-dashboard > div.row.flex-row:nth-child(2) > div,
div[data-widget-id="9381"] > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#member-dashboard > div.row.flex-row:nth-child(2) > div > div {
  flex: 1 1 0;
}

.storefront-callout-bg .thumbnails img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center center;
}

.storefront-callout-bg
  .flex-row:last-child
  .one-qtr:last-of-type
  .thumbnails
  img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  object-position: center center;
  padding: 3em;
}
#member-dashboard > .row.flex-row:has(.col-md-3) {
  margin-top: 24px;
}
#member-dashboard .col-xs-12.col-md-6 > div {
  gap: 0;
}
@media screen and (max-width: 767px) {
  .hero-2-profile-links a {
    /* padding: 0 !important; */
  }

  .hero-2-profile-links a.profile-link {
    margin: 0 !important;
    padding: 0 !important;
    display: block;
  }

  .hero-2-profile-links a.profile-link img {
    width: 24px !important;
  }

  .hero-2-profile-links {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
  }

  .hero-2-profile-links a.profile-link p {
    margin: 0 !important;
    font-size: 12px !important;
  }

  .hero-2-profile-links {
    gap: 6px !important;
  }

  .member:has(.aap-demo) .main-member-profile-container .profile-info {
    border: 0 !important;
  }
  .member:has(.aap-demo) .main-member-profile-container {
    border: 0px solid #ffcc00 !important;
    background: none !important;
    margin: -24px auto 24px;
  }
}

.member:has(.aap-demo) .my-approvals-container.pos-relative.small-container {
  margin: 0;
}

.member:has(.aap-demo) #mega-menu-wrap {
  border-top: 5px solid #ffcc00;
}

.member:has(.aap-demo)
  .topNavIcons
  a.psr[data-badge]:not([data-badge="0"])::after,
.topNavIcons button.psr[data-badge]:not([data-badge="0"])::after {
  background: #f7f7f7 !important;
}

.member:has(.aap-demo) .cutcorner {
  background: linear-gradient(125deg, transparent 20px, #fff 20px) !important;
}
.member:has(.aap-demo)
  *:not(.profile-img-wrapper):not(.icon-bottom):not(.main-anniversary-container
    .user
    .avatar
    img):not(.feed-widget
    .feed-widget-item
    .img-wrapper
    img):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.bday-member-thumb.image):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.fixed-width-height-90-58.image):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.fixed-width-height-90-58.image
    img):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.fixed-width-height-42.image):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.fixed-width-height-42.image
    img):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.award-peer-thumb.image):not(.img-wrapper.flex-row.flex-nowrap.justify-center.align-center.award-peer-thumb.image
    img) {
  border-radius: 0 !important;
}

.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy p {
  font-size: 16px !important;
  line-height: 1.5em !important;
}

.member:has(.aap-demo) #main .storefront-callout-bg .post-container {
  box-radius: 0 !important;
}

.member:has(.aap-demo) div[data-widget-id="9380"] {
  position: relative;
  /* z-index: 1; */
}

.member:has(.aap-demo) div[data-widget-id="9380"]::before {
  content: "";
  background: #fff;
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 209px;
  display: block;
}

.member:has(.aap-demo) [data-widget-type*="serialcard"] label:before {
  text-align: left;
  display: block;
}

.member:has(.aap-demo) h1,
.member:has(.aap-demo) h2:not(.description),
.member:has(.aap-demo) h5,
.member:has(.aap-demo) h6,
.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1,
.member:has(.aap-demo) .post-container .post-content .title,
.member:has(.aap-demo) [data-widget-type*="serialcard"] label,
.member:has(.aap-demo)
  .approvals-header
  span.text-md-heading.text-gray-500.lh-32 {
  position: relative;
  margin-bottom: 12px;
}

.member:has(.aap-demo) h1::after,
.member:has(.aap-demo) h2:not(.description)::after,
.member:has(.aap-demo) h5::after,
.member:has(.aap-demo) h6::after,
.member:has(.aap-demo)
  .hero-recognition-container.layout-2
  .hero-copy
  h1::after,
.member:has(.aap-demo) .post-container .post-content .title::after,
.member:has(.aap-demo) [data-widget-type*="serialcard"] label::after {
  content: "";
  width: 24%;
  height: 5px;
  background: #ffcc00;
  display: block;
  position: relative;
  top: 5px;
}

.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1 {
  margin: 0 0 36px 0 !important;
}

.member:has(.aap-demo) .upcoming-anniv-header-container .header .header-left {
  align-items: flex-start;
}

.member:has(.aap-demo) h1,
.member:has(.aap-demo) h2:not(.description),
.member:has(.aap-demo) h5,
.member:has(.aap-demo) h6,
.member:has(.aap-demo) .hero-recognition-container.layout-2 .hero-copy h1,
.member:has(.aap-demo) .post-container .post-content .title,
.member:has(.aap-demo) [data-widget-type*="serialcard"] label,
.member:has(.aap-demo)
  .approvals-header
  span.text-md-heading.text-gray-500.lh-32 {
  position: relative;
  margin-bottom: 12px;
}

.member:has(.aap-demo) h1::after,
.member:has(.aap-demo) h2:not(.description)::after,
.member:has(.aap-demo) h5::after,
.member:has(.aap-demo) h6::after,
.member:has(.aap-demo)
  .hero-recognition-container.layout-2
  .hero-copy
  h1::after,
.member:has(.aap-demo) .post-container .post-content .title::after,
.member:has(.aap-demo) [data-widget-type*="serialcard"] label::after {
  content: "";
  width: 24%;
  height: 5px;
  background: #ffcc00;
  display: block;
  position: relative;
  top: 5px;
}

.member:has(.aap-demo)
  .approvals-header
  .flex-row.justify-flex-start.align-center.gap-sm {
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 6px;
}

.member:has(.aap-demo)
  .approvals-header
  .flex-row.justify-flex-start.align-center.gap-sm
  > svg {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-right: 1px;
}

.feed-widget-body .award-receiving-member .award-member-name {
  display: block;
  left: unset !important;
  transform: unset !important;
  top: 10px !important;
  position: relative !important;
}

@media only screen and (max-width: 750px) {
  .member:has(.aap-demo) #main .post-container {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 750px) {
  #member-dashboard > div.row.flex-row:nth-child(2) > div > div {
    flex: unset !important;
    margin-bottom: 24px !important;
  }
}

div[data-widget-id="9388"] {
  background: #fff;
  margin-top: 16px;
  padding: 36px 24px;
}

div[data-widget-id="9388"] .wrap {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

div[data-widget-id="9388"] .wrap img {
  max-width: 680px;
}

div[data-widget-id="9388"] .wrap h3::after {
  content: "";
  width: 24%;
  height: 5px;
  background: #ffcc00;
  display: block;
  position: relative;
  top: 5px;
}

div[data-widget-id="9388"] .wrap p {
  font-weight: 500 !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  line-height: 1.5em !important;
  font-size: 13px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div[data-widget-id="9388"] a.btn-secondary {
  background-color: #ffcc00 !important;
  color: #000 !important;
  letter-spacing: normal !important;
  font-size: 16px !important;
  padding: 10px 24px !important;
  font-weight: 500;
  margin-top: 8px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  div[data-widget-id="9388"] {
    margin-top: 0;
  }
  div[data-widget-id="9388"] .wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  #member-dashboard:has(.aap-demo) .row.flex-row:has(> .col-md-4) {
    margin-top: 16px;
  }
}

#member-dashboard:has(.aap-demo) .row.flex-row:has(> .col-md-4) > div {
  background-color: #f5f4f7;
  background-clip: content-box;
  background-image: linear-gradient(
    to bottom,
    rgba(245, 244, 247, 0) 0px,
    rgba(245, 244, 247, 0) 54px,
    #f5f4f7 54px,
    #fff 54px
  );
}
